{% load static %}
<!DOCTYPE html>
<html>
<body>

<div class="gauge_val"> q </div>

<img style="height:450px;width:450px;" src="{{result}}" alt="Conor" class="center">

    <img src="schetchik/static/refreshbutton.png" class="button">


<style type="text/css"> 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.button {

	display:block;
	margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 70px;
}




</style>

<script>

</script>
</body>
</html>